<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <form class="" action="/newnote" method="post">
            <input type="text" name="name" placeholder="name">
            <input type="text" name="workYesterday" placeholder="workYesterday">
            <input type="text" name="workToday" placeholder="workToday">
            <input type="text" name="project" placeholder="project">
            <input type="text" name="impediment" placeholder="impediment">
            <button type="submit" name="button">Submit</button>

      </form>
      <%= errorMessage %>
</body>
</html>
